@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --marvelred: #ec1d24;
    --black: #000000;
    --white: #ffffff;
    --gray: #aaaaaa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family:
        Roboto Condensed,
        Arial,
        Helvetica,
        sans-serif;
}
